@keyframes change {
  0% {
    box-shadow: 0rem 0rem 0rem 0rem transparent;
  }

  50% {
    box-shadow: 0rem 0rem 0.5rem 0.25rem #ebc83b;
  }

  100% {
    box-shadow: 0rem 0rem 0rem 0rem transparent;
  }
}

.quantityBadge {
  animation: change 0.5s 3;
  position: absolute;
  z-index: 100;
  font-size: clamp(0.5rem, 0.75vw, 1vw);
  font-weight: 900;
  background-color: aqua;
  border-radius: 50%;
  height: clamp(1rem, 1vw, 1vw);
  width: clamp(1rem, 1vw, 1vw);
  pointer-events: none;
  right: 4%;
  top: 25%;
}

/* medium devices */
@media (max-width: 1400px) {
  .quantityBadge {
    font-size: clamp(1rem, 1.5vw, 1.5vw);
    height: clamp(1rem, 2vw, 2vw);
    width: clamp(1rem, 2vw, 2vw);
    right: 5%;
    top: 20%;
  }
}

/* medium devices */
@media (max-width: 800px) {
  .quantityBadge {
    font-size: clamp(1rem, 1vw, 1vw);
    height: clamp(1rem, 1vw, 1vw);
    width: clamp(1rem, 1vw, 1vw);
    right: 5.5%;
    top: 25%;
  }
}

/* medium devices */
@media (max-width: 500px) {
  .quantityBadge {
    font-size: clamp(0.75rem, 1vw, 1vw);
    height: clamp(1rem, 1vw, 1vw);
    width: clamp(1rem, 1vw, 1vw);
    right: 5%;
  }
}
