.cart {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-self: right;
  top: 3.8vw;
  left: 25vw;
  width: fit-content;
  background-color: var(--background-color);
  border: var(--border-color) solid 2px;
}

.cart ul li {
  list-style-type: none;
  display: grid;
  gap: 1vw;
  grid-template-columns: repeat(4, minmax(12rem, 50%));
  align-items: center;
  margin: 1vw;
  padding-left: 2vw;
  margin-right: -3vw;
}

.total {
  font-family: "Quatl";
  color: var(--attention-color);
  font-size: clamp(1rem, 1vw, 1vw);
  margin-bottom: 1rem;
}
