.checkout {
  /* display: flex; */
  /* justify-content: center; */
  /* margin-top: 5vw; */
  /* margin-bottom: 1vw; */
}
.checkout_button {
  font-family: "Quatl";
  color: var(--interactive-color);
  font-size: 1.75rem;
  cursor: pointer;
  margin-top: 2vw;
  margin-bottom: 1vw;

  /* justify-content: center; */
}

.checkout_button:active {
  color: var(--user-selected-color);
  text-shadow: 0rem 0rem 1rem aquamarine;
  transition: 0.025s ease;
}
