.alert {
  display: flex;
  /* flex-direction: row; */
  position: fixed;
  /* overflow-y: scroll; */
  /* margin: auto; */
  /* margin-top: -15rem; */
  top: 10%;
  bottom: 40%;
  /* margin-right: -3rem; */
  left: -40%;
  right: -40%;
  padding: 0.25rem;

  /* padding-right: 0rem; */
  /* z-index: 99; */
  /* box-shadow: 0rem 0rem 5rem 50vh rgba(0, 0, 0, 0.5); */
  width: 80%;
  height: 80%;
  border-color: transparent;
  background: linear-gradient(
      to bottom,
      var(--border-color) 0%,
      var(--background-color) 45%,
      var(--background-color) 90%,
      var(--border-color) 100%
    )
    100%;
  border-radius: 10px;

  border-style: solid;

  transition: 2.5s ease;
}

.alertBackground {
  height: 100%;
  width: 100%;
  margin: auto;
  /* justify-content: center; */
  overflow-y: scroll;
  /* margin-right: 1rem; */
  top: 0;
  bottom: 0;
  padding: 2rem;
  /* padding-right: -10rem; */
  background-color: #0c0424;
  border-radius: 10px;
}

.alert p {
  display: flex;
  font-size: clamp(1.25rem, 2vw, 1.5vw);
}

.alert pre {
  overflow-x: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: clamp(1.25rem, 2vw, 1.5vw);
}

.close {
  position: relative;
  /* z-index: 100; */
  font-size: clamp(2.5rem, 1vw, 1vw);
  margin: auto;
  margin-top: 5%;
  left: 40%;
  right: 40%;
  /* padding-right: 2rem; */
}

@media (max-width: 1005px) {
  .alert {
    margin: auto;
  }

  .close {
    margin: auto;
    margin-top: 2%;
    left: 80%;
  }
}
