.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1.5rem 1rem;
  border-bottom: solid #63b369;
  margin: 2rem;
}

.home {
  text-decoration: none;
  color: #cf3052;
  text-transform: uppercase;
  font-size: 3rem;
}

.home img {
  width: 3rem;
  height: 3rem;
}

.nav ul {
  list-style: none;
  margin: 0 1rem;
  display: flex;
  gap: 3rem;
}
