.header {
  color: #cf3052;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 2rem 1rem 2rem;
  border-bottom: solid #63b369;
  
  margin: 1rem;
}

.home {
  text-decoration: none;
  color: #cf3052;
  font-size: 4rem;
}

.home:hover {
  color: #ebc83b;
}

.icon {
  /* align-items: right; */
  padding-left: 3rem;
  /* justify-content: center; */
  height: 3rem;
  color: #cf3052;
}

.icon:hover {
  color: #ebc83b;
}

.nav {
   /* display: flex;400 */
   /* height: 20rem; */
   justify-content: space-between;
} 



.menu ul{
  width: 20rem;
  font-size: 2rem;
  list-style-type: none;
  background-color: #63b369;
}
