.header {
  color: #cf3052;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem 1rem 2rem;
  border-bottom: solid #63b369;

  margin: 0rem 1rem;
}

.home {
  text-decoration: none;
  color: #cf3052;
  font-size: 4rem;
}

.home:hover {
  color: #ebc83b;
}

.icon {
  padding-left: 3rem;
  height: 3rem;
  color: #cf3052;
}

.icon:hover {
  color: #ebc83b;
}

.menu {
  display: flex;
  justify-content: right;
  margin: 0;
}

.menu ul li {
  display: flexbox;
  font-size: 2rem;
  list-style-type: none;
  background-color: #63b369;
  padding: 3rem;
  margin: 0rem 1rem;
}

.menu a {
  color: #cf3052;
  text-decoration: none;
}

.menu a:hover {
  color: #ebc83b;
  text-decoration: none;
}
