.category {
  display: flex;
  font-size: 1.25rem;
  gap: 1rem;
  align-items: baseline;
  justify-content: center;
  padding-top: 2rem;
}

.title {
  font-size: 2.5rem;
}

.loadImage {
  position: absolute;
  width: 35rem;
  height: auto;
  top: 12rem;
  left: 42rem;
}
