.category {
  display: flex;
  font-size: 1.25rem;
  gap: 1rem;
  align-items: baseline;
  justify-content: center;

  padding-top: 1rem;
}

.title {
  font-size: 2rem;
}

.main {
  justify-content: center;
  align-items: center;
}
