.category {
  display: flex;
  font-size: 1.5rem;
  gap: 2rem;
  align-items: baseline;
  justify-content: center;
  /* align-items: center; */
  padding-top: 1rem;
}

.title {
  font-size: 2rem;
}

.main {
  justify-content: center;
  align-items: center;
}
