@font-face {
  font-family: "Quatl";
  src: url("../components/ui/fonts/Quatl-3zp26.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #0c0424;
  font-family: "Quatl";
  letter-spacing: 0.5px;
  height: 100vh;
  overflow-y: scroll;
}

p {
  font-family: var(--inter-font);
  color: #c7ebec;
}

h1 {
  color: #cf3052;
}

h2 {
  color: #30b3e4;
  font-size: 1.15rem;
}

button {
  background-color: transparent;
  border: none;
}

.children {
  display: flexbox;
  z-index: 0;
  padding: 2rem;
  padding-top: 8rem;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  background-color: #0c0424;
  width: 1.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: #cf3052;
}
