@font-face {
  font-family: "Quatl";
  src: url("../components/fonts/Quatl-3zp26.ttf");
}

* {
  box-sizing: border-box;
}

body {
  background-color: #11072f;
  margin: 0;
  font-family: "Quatl";
}

p {
  font-family: var(--inter-font);
  color: #c7ebec;
}

h1 {
  color: #cf3052;
}

button {
  background-color: transparent;
  border: none;
}
