@font-face {
  font-family: "Quatl";
  src: url("../components/fonts/Quatl-3zp26.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #11072f;
  font-family: "Quatl";
}

p {
  font-family: var(--inter-font);
  color: #c7ebec;
}

h1 {
  color: #cf3052;
}

button {
  background-color: transparent;
  border: none;
}

.children {
  display: flexbox;
  z-index: 0;
  position: relative;
  padding: 8rem;
  justify-content: center;
  align-items: center;
  /* margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  margin-left: 2rem;
  margin-right: 2rem; */
}
