.image {
  position: fixed;
  width: auto;
  height: 35vw;
  margin-left: auto;
  margin-right: auto;
  left: 0rem;
  right: 0rem;
  top: 9rem;
}

.page {
  align-items: center;
  justify-content: center;
}
