.buttons {
  gap: 3rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.button {
  display: flex;
  font-weight: 900;
  font-size: large;
  width: 3rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  border: solid;
  border-color: aqua;
  transition: 1s ease;
}

.button:hover {
  background-color: aquamarine;
  transform: 0.3s ease;
}
