.menucard {
  /* min-width: 26rem; */
  border-color: transparent;
  background: linear-gradient(
      to bottom,
      #63b369 0%,
      #0c0424 30%,
      #0c0424 90%,

      #63b369 100%
    )
    100%;
  border-radius: 10px;

  border-style: solid;

  padding: 0.1rem;
  transition: 2.5s ease;
}

.menucard:hover {
  box-shadow: 0px 0px 30px 10px rgba(99, 179, 105, 1);
  transition: 0.3s ease;
}

.expand {
  position: fixed;
  min-height: 49rem;
  min-width: 25rem;
  max-width: 41rem;
  margin-top: -6%;
  align-self: baseline;
  z-index: 100;
  width: 30%;
  height: 80%;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  right: 0px;
}

.expand:hover {
  box-shadow: 0px 0px 100px 40px #ebc83b;
}

.expand::backdrop {
  fill: #0c0424;
}
