.icon {
  height: 3.5rem;
  color: #cf3052;
  transition: 1s ease;
  cursor: pointer;
  /* margin-top: -1.3rem;
  margin-bottom: 1.8rem; */
}

.icon:hover {
  color: #ebc83b;
  transition: 0.3s ease;
}
