.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  row-gap: 1.5rem;
  background-color: #0c0424;
  border-radius: 10px;
}

.card img {
  border-radius: 10px;
}

.card p {
  color: #ebc83b;
  font-size: 1.25rem;
}

#add {
  color: #cf3052;
  font-size: 1.25rem;
}

#price {
  font-size: 1.5rem;
  font-weight: 700;
}
