.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  row-gap: 1rem;
  background-color: #0c0424;
  border-radius: 10px;
}

.card img {
  border-radius: 10px;
}
