.grid {
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 22%));
  /* grid-template-columns: repeat(auto-fit, minmax(600px), 1fr); */
  /* grid-auto-flow: column; */
  /* width: 100%; */
  /* height: 100%; */
  justify-content: center;
  margin-top: 3rem;
  /* margin: 4rem; */
  /* max-width: 100rem; */
  align-items: center;
}
