.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  row-gap: 1.5rem;
  background-color: #0c0424;
  border-radius: 10px;
}

.card img {
  border-radius: 10px;
}

.card p {
  color: #ebc83b;
  font-size: 1.25rem;
}

.add {
  font-family: "Quatl";
  color: #cf3052;
  font-size: 1.25rem;
  cursor: pointer;
}

.price {
  font-size: 1.5rem;
  font-weight: 700;
}

.more {
  height: 1rem;
  fill: #cf3052;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.ghostDiv {
  height: 2rem;
}

.expand {
  position: absolute;
  margin-top: 1%;
  align-self: baseline;
  z-index: 100;
  width: 98%;
  height: 98%;
  margin-right: auto;
  margin-left: auto;
  left: 0px;
  right: 0px;
  transition: 1s ease;
  row-gap: none;
}

.expand h2 {
  font-size: 2rem;
  margin-bottom: -2rem;
}

.expand img {
  width: 50%;
  height: auto;
}
